@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans"),
   url(/fonts/ptsans-700.woff2);
}



body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

ul {
  list-style-type: none;
}

.button {
  background: #756157;
  border-radius: 4px;
  border-style: none;
  width: 160px;
  height: 36px;
  color: #FFFFFF;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.menu-item {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.navigation {
  display: grid;
  grid-template-columns: 600px 600px;
}

.container-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 28px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}

.container-2 {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
