@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans"),
   url(../fonts/ptsans-700.woff2);
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"),
   url(../fonts/ptsans-400.woff2);
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  background-color: #F2F2F2;
}

.visually-hidden {
  display: none;
}

.content {
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-footer {
  flex-shrink: 0;
}

.main-page {
  flex-grow: 1;
}

.main-inner {
  flex-grow: 1;
}

/*style-header*/

.logo-link {
  z-index: 10;
  margin-right: 28px;
}

.catalog {
  width: 93px;
  top: 63px;
}

.button {
  background: #756157;
  border-radius: 4px;
  border-style: none;
  width: 160px;
  height: 36px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 34px;
  color: #FFFFFF;
  text-decoration: none;
}

.want {
  margin-left: 0;

}

.navigation-item {
  font-size: 20px;
  white-space: nowrap;
}

.navigation {
  display: grid;
  grid-template-columns: 600px 600px;
}

.main-menu{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 70px;
}

.navigation-link {
  text-decoration: none;
  color: black;
  padding: 20px 16px;
}

.navigation-favorites {
  text-decoration: none;
}

.content ul {
  list-style-type: none;
}

.navigation-list {
  display: flex;
  align-items: flex-start;
  margin-top: 19px;
  padding-inline-start: 0;
}

.user-menu {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 70px;
  margin-top: 5px;
}

.new-favorites {
  font-weight: 400;
  font-size: 10px;
  background-color: #7DB54F;
  color: #FFFFFF;
  padding: 4px 4px 3px 4px;
  border-radius: 50%;
  margin-left: 2px;
  vertical-align: 21px;
}

.heart {
  margin-bottom: 4px;
  margin-right: -17px;
}

.search {
  margin-top: 5px;
  margin-right: -2px;
}

.navigation-searh {
  padding: 26px 13px 18px 11px;
}

.navigation-favorites {
  padding: 29px 6px 15px 14px;
  margin-right: 19px;
}

/*style-footer*/

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 60px 30px 70px;
  margin: 0;
  margin-bottom: 35px;
  align-items: center;
}

.social {
  display: flex;
  gap: 27px;
  padding-left: 11px;
  padding-top: 40px;
}

.social-link {
  display: inline-block;
}

.vk {
  background-image: url("../images/pictures/messenger/vk.svg");
  width: 24px;
  height: 15px;
}

.telegram {
  background-image: url("../images/pictures/messenger/telegram.svg");
  width: 18px;
  height: 16px;
}

.youtube {
  background-image: url("../images/pictures/messenger/youtube.svg");
  width: 22px;
  height: 17px;
}

.contact-phone {
  font-weight: 400;
  font-size: 40px;
  padding-left: 15px;
  margin-top: 36px;
  text-decoration: none;
  color: #000000;
}

.html-academy {
  padding-top: 41px;
  margin-right: 9px;
}

/*style-index*/

.welcome {
  background: url("../images/welcome/vector-foot.svg") bottom no-repeat, url("../images/pictures/index-background.jpg");
  background-color: #9db2cd;
  width: 100%;
  height: 485px;
  margin-bottom: 69px;
  margin-top: -10px;
}

.welcome-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 51px;
}

.img-welcome-vector {
  padding-top: 25px;
}

.main-page {
  text-align: center;
}

.main-headline-title {
  line-height: 36px;
  margin-bottom: 24px;
  min-height: 72px;
  font-size: 30px;
  text-transform: uppercase;
}

.main-headline-description {
  margin-block-end: 0;
  height: 26px;
  font-weight: 400;
  font-size: 22px;
  padding-bottom: 91px;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

/* Вторая строка - список без картинок */
.nested-list-advantages {
  display: flex;
  width: 1200px;
  padding: 0;
}

.nested-list-advantages-item {
  width: 400px;
  height: 384px;
  background-color: #83B3D31F;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 0;
}

.nested-list-advantages-item:nth-child(2) {
  background-color: #83B3D333;
}

/* Четвертая строка - список с картинками */
.advantages-list-extra {
  display: flex;
  width: 1200px;
  padding: 0;
}

.advantages-list-extra-item {
  width: 400px;
  height: 384px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 0;
}

.advantages-list-extra-item-titile {
  padding-top: 183px;
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 24px;
  width: 175px;
  height: 56px;
  text-transform: uppercase;
  line-height: 28px;
}

.advantages-list-extra-item-description {
  font-weight: 400;
  font-size: 18px;
  width: 230px;
  height: 63px;
  margin-top: 0;
  margin-bottom: 81px;
  line-height: 21px;
}

.image-1 {
  background-color: #83B3D31F;
  background-image: url("../images/card/icons/house.svg");
  background-repeat: no-repeat;
  background-position: 163px 80px;
}

.image-2 {
  background-color: #FFFFFF;
  background-image: url("../images/card/icons/food.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
}

.image-3 {
  background-color: #83B3D31F;
  background-image: url("../images/card/icons/box.svg");
  background-repeat: no-repeat;
  background-position: 168px 78px;
}

.advantages-list-item {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-list-inner {
  width: 400px;
  height: 384px;
  color: #FFFFFF;
  background-color: #82B3D3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 0;
}

.advantages-list-image-wrapper {
  grid-column: span 2;
  font-size: 0;
}

.advantages-list-title {
  margin-top: -20px;
  font-size: 24px;
  width: 175px;
  height: 56px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 83px;
  line-height: 28px;
}

.nested-list-advantages-title {
  font-size: 24px;
  width: 175px;
  height: 56px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 83px;
  line-height: 28px;
}

.nested-list-advantages-description {
  font-weight: 400;
  font-size: 18px;
  width: 230px;
  height: 63px;
  margin-top: 0;
  margin-bottom: 81px;
  line-height: 21px;
}

/* Стайл на линии, Которые попросили удалить, но по моему, они могут понадобиться.
.hr-white {
  height: 2px;
  width: 60px;
  background-color: #FFFFFF4D;
  border-style: none;
  margin-bottom: 30px;
  margin-top: 0;
}

.hr-black {
  height: 2px;
  width: 60px;
  background-color: #0000004D;
  border-style: none;
  margin-bottom: 30px;
  margin-top: 0;
}
*/

.advantages-list-description {
  font-weight: 400;
  font-size: 18px;
  width: 230px;
  height: 63px;
  margin-top: 0;
  margin-bottom: 81px;
  line-height: 21px;
}

.search-hotel-link {
  width: 376px;
  height: 52px;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 96px;
  margin-top: 54px;
  padding: 13px 51px;
}

.search-hotel-text {
  margin-top: 96px;
  padding-top: 5px;
  margin-bottom: 0;
  height: 72px;
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
}

.search-hotel-description {
  margin-top: -20px;
  padding-bottom: 3px;
  line-height: 26px;
  margin-bottom: 89px;
  height: 26px;
  font-weight: 400;
  font-size: 22px;
}

/* Подписка на рассылку index */
.subscribe {
  background-image: url(../images/pictures/subscribe-background.jpg);
  background-color: #a1abab;
  background-size: 1200px;
  color: #FFFFFF;
  margin-top: 109px;
}

.subscribe-text {
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 94px;
  padding-bottom: 20px;
  margin: 0;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-top: 0;
  padding-bottom: 32px;
  margin-top: 0;
}

.subscribe-input {
  width: 412px;
  height: 14px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 19px;
  padding-left: 20px;
  outline: #FFFFFF;
  border-style: none;
  margin-bottom: 103px;
  margin-top: 0;
  margin-right: -4px;
  position: relative;
  bottom: 1px;
  background-color: #F2F2F2;
}

.subscribe-button {
  width: 232px;
  height: 52px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  text-align: center;
  border-style: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: 0;
}

/*style-catalog*/

.top-wrapper {
  background-image: url(../images/pictures/filter-background.jpg);
  background-color: #6c7177;
  background-size: 100% 100%;
  height: 412px;
  width: 1200px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.filter-title {
  font-size: 60px;
  padding-left: 70px;
  padding-top: 35px;
  margin-top: -10px;
}

.breadcrumbs {
  display: flex;
  padding-left: 70px;
}

.breadcrumbs-item .breadcrumbs-link {
  color: #FFFFFF;
  font-weight: 400;
}

.catalog-filter {
  display: flex;
}

/* Сортировка */
.sorting {
  display: flex;
  margin-bottom: 36px;
}

.search-object {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 70px;
  padding-right: 200px;
  padding-top: 5px;
}

.select-control {
  width: 292px;
  height: 49px;
  border: 2px #E5E5E5 solid;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color:#333333;
  padding-left: 15px;
}

.type-of-catalog {
  margin:0;
  display: flex;
  margin-left: 31px;
}

.type-of-catalog-link-image {
  padding: 15px 14px 15px 14px;
  border: 2px #E5E5E5 solid;
  border-radius: 4px;
  margin-right: 8px;
}

.type-of-catalog-link-image:last-child {
  margin-right: 0;
}

.type-of-catalog-link-image.active {
  border-color: #000000;
}

/* Карточки */

.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding-inline-start: 0;
  margin: 0 70px 40px 69px;
}

.product-card {
  width: 300px;
  height: 398px;
  border: 1px #E6E6E6 solid;
  border-radius: 4px;
  padding: 20px;
}

.product-card-link {
  text-decoration: none;
  color: black;
}

.product-card-title {
  font-size: 24px;
  margin-top: 11px;
  margin-bottom: 13px;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  margin-right: 139px;
  margin-bottom: 15px;
  display: inline-block;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

.product-card-details-link.button {
  padding: 8px 26px;
  margin-right: 16px;
}

.product-card-button {
  background: #82B3D3;
  border-radius: 4px;
  border-style: none;
  width: 140px;
  height: 36px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 20px;
  color: #FFFFFF;
  white-space: nowrap;

}

.product-card-button.active {
  background-color: #7DB54F;
}

.product-card-rating {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  white-space: nowrap;
  text-transform: uppercase;
}

.product-card-wrapper-raiting {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0;
  height: 37px
}

.product-card-stars {
  min-width: 90px;
  height: 17px;
  background-image: url("/images/icons/raiting-star.svg");
  background-size: 19px;
  background-repeat: space;
  font-size: 0;
  margin-top: 10px;
}

.product-card-stars.three {
  min-width: 67px;
}

.product-card-stars.two {
  min-width: 44px;
}

/* Пагинация */

.pagination {
  display: flex;
  margin-left: 30px;
  padding: 0;
  list-style-type: none;
  padding-top: 40px;
}

.pagination-link {
  font-size: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}

/* Подписка на рассылку catalog */

.subscription{
  text-align: center;
  background-size: 1200px;
}

.subscription-text {
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 94px;
  padding-bottom: 20px;
  margin: 0;
}

.subscription-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-top: 0;
  padding-bottom: 32px;
  margin-top: 0;
}

.subscription-input {
  width: 412px;
  height: 14px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 19px;
  padding-left: 20px;
  outline: #FFFFFF;
  border-style: none;
  margin-bottom: 103px;
  margin-top: 0;
  margin-right: -4px;
  position: relative;
  bottom: 1px;
  background-color: #F2F2F2;
}

.subscription-button {
  width: 232px;
  height: 52px;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  text-align: center;
  border-style: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: 0;
}
