@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2),
   local("PT Sans");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2),
   local("PT Sans");
}

html {
  height: 100%;
}

body {
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;

  background-color: #F2F2F2;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 1200px;

  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-footer {
  flex-shrink: 0;
}

.main-page {
  flex-grow: 1;
}

.main-inner {
  flex-grow: 1;
  margin-top: -10px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Хедер */

.logo-link {
  z-index: 10;
  margin-right: 28px;
}

.navigation-item {
  font-size: 20px;
  white-space: nowrap;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  padding-left: 70px;
}

.main-menu {
  display: flex;
  width: 700px;
}

.navigation-link {
  position: relative;

  padding: 20px 16px;

  text-decoration: none;
  color: black;
}

.navigation-link.current::before {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  margin: 0 15px 0 16px;
  height: 2px;

  background-color: #756257;
  content: "";
}

.navigation-favorites {
  text-decoration: none;
}

.content ul {
  list-style-type: none;
}

.navigation-list {
  display: flex;
  margin-top: 19px;
  padding: 0;
  flex-wrap: wrap;
}

.user-menu {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 0;
}

.user-menu-item {
  min-height: 25px;
  min-width: 25px;
}

.new-favorites {
  position: relative;
  bottom: 10px;
  left: 2px;

  padding: 4px 5px 3px 4px;

  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;

  background-color: #7DB54F;
  border-radius: 50%;
}

.button-want {
  padding: 8px 34px;
  display: block;

  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  white-space: nowrap;

  border-radius: 4px;
  border-style: none;
}

/* svg в правом контейнере */

.heart {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  margin: auto;

  fill: #000000;
}

.search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  margin: auto;

  fill: #000000;
}

.navigation-searh {
  position: relative;
  padding: 18px 24px 24px 20px;
}

.navigation-favorites {
  position: relative;
  padding: 18px 5px 24px 18px;
  margin-right: 21px;
}

/* Цветные кнопки и их состояния */

.button-brown {
  background-color: #756157;
}

.button-brown:hover {
  background-color: #615048;
  cursor: pointer;
}

.button-brown:focus-visible {
  outline: 0;
  background-color: #615048;
}

.button-brown:active {
  color: #FFFFFF30;
  background-color: #756157;
}

.button-brown:disabled {
  background-color: #E5E5E5;
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue:hover {
  background-color: #68A2CA;
  cursor: pointer;
}

.button-blue:active {
  color: #FFFFFF30;
  background-color: #82B3D3;
}

.button-blue:focus-visible {
  outline: 0;
  background-color: #68A2CA;
}

.button-blue:disabled {
  background-color: #E5E5E5;
}

/*Футер*/

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 69px 30px 70px;
  flex-wrap: wrap;
}

.social {
  display: flex;
  max-width: 150px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.social-link {
  position: relative;

  display: inline-block;
  width: 47px;
  height: 40px;
}

.social-link:focus-visible {
  outline: 0;
}

.social-link:focus-visible svg {
  fill: #68A2CA;
}

.social-vk {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  margin: auto;

  fill: #83B3D3;
}

.social-vk:hover {
  fill: #68A2CA;
}

.social-vk:active {
  fill: #68A2CA4D;
}

.social-telegram {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 1px;

  margin: auto;

  fill: #83B3D3;
}

.social-telegram:hover {
  fill: #68A2CA;
}

.social-telegram:active {
  fill: #68A2CA4D;
}

.social-youtube {
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 0;
  left: 2px;

  margin: auto;

  fill: #83B3D3;
}

.social-youtube:hover {
  fill: #68A2CA;
}

.social-youtube:active {
  fill: #68A2CA4D;
}

.contact-phone {
  position: relative;
  left: 1px;
  bottom: 1px;

  font-weight: 400;
  font-size: 40px;
  text-decoration: none;
  color: #000000;
}

.contact-phone:hover {
  color: #756157;
}

.contact-phone:focus-visible {
  outline: 0;
  color: #756157;
}

.contact-phone:active {
  color: #7561574D;
}

.copyright {
  position: relative;
  right: 1px;
  top: 1px;
}

.copyright-htmlacademy:hover path {
  fill: #756157;
}

.copyright:focus-visible {
  outline: 0;
}

.copyright:focus-visible path {
  fill: #756157;
}

.copyright-htmlacademy:active path {
  fill: #7561574D;
}

/* Домашняя страница */

.welcome {
  width: 100%;
  min-height: 485px;
  margin-top: -10px;

  background-color: #9db2cd;
  background-image: url("../images/welcome/vector-foot.svg"), url("../images/pictures/index-background.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain, cover;
}

.welcome-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 51px;
}

.main-page {
  text-align: center;
}

/* Хедлайн */

.main-headline {
  padding: 69px 20px 89px 20px;
}

.main-headline-title {
  min-height: 72px;
  margin: 0 0 24px 0;

  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
}

.main-headline-description {
  margin: 0;

  font-weight: 400;
  font-size: 22px;
  color: #333333;
}

/* Основной список */

.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-list-item {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, 400px);
}

.advantages-list-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 92px 85px 111px;

  color: #FFFFFF;

  background-color: #82B3D3;
}

.advantages-list-image-wrapper {
  grid-column: span 2;
  font-size: 0;
}

.advantages-list-title {
  position: relative;

  margin: 0;
  padding: 0;
  margin-bottom: 61px;
  width: 175px;
  min-height: 56px;

  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
}

.advantages-list-title::before {
  position: absolute;
  top: 85px;
  right: 0;
  left: 0;
  bottom: 0;

  margin: 0 57px 0 57px;
  height: 2px;

  background-color: #FFFFFF4D;
  content: "";
}

.advantages-list-description {
  width: 230px;
  min-height: 63px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* Внутренний список */

.nested-list-advantages {
  display: flex;
  width: 1200px;
  min-height: 384px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.nested-list-advantages-item {
  display: flex;
  width: 230px;
  align-items: center;
  flex-direction: column;
  padding: 104px 85px 101px;

  background-color: #83B3D31F;
}

.nested-list-advantages-title {
  position: relative;

  margin: 0;
  padding: 0;
  margin-bottom: 61px;
  width: 175px;

  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
}

.nested-list-advantages-title::before {
  position: absolute;
  top: 85px;
  right: 0;
  left: 0;
  bottom: 0;

  margin: 0 57px 0 57px;
  height: 2px;

  content: "";
  background-color: #0000004D;
}

.nested-list-advantages-description {
  width: 230px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  color: #333333;
  line-height: 21px;
}

.nested-list-advantages-item:nth-child(2) {
  background-color: #83B3D333;
}

/* Внутренний список-2 */

.advantages-list-extra {
  display: flex;
  width: 1200px;
  padding: 0;
}

.advantages-list-extra-item {
  display: flex;
  width: 230px;
  min-height: 223px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 80px 85px 81px;
}

.advantages-list-extra-item-titile {
  width: 230px;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;

  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
}

.advantages-list-extra-item-description {
  padding: 0;
  margin: 0;
  width: 230px;

  font-weight: 400;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.image-1 {
  background-color: #83B3D31F;
  background-image: url("../images/card/icons/house.svg");
  background-repeat: no-repeat;
  background-position: 163px 80px;
}

.image-2 {
  background-color: #FFFFFF;
  background-image: url("../images/card/icons/food.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
}

.image-3 {
  background-color: #83B3D31F;
  background-image: url("../images/card/icons/box.svg");
  background-repeat: no-repeat;
  background-position: 168px 78px;
}

/* Поиск Гостиницы */

.search-hotel {
  padding: 100px 304px 96px;
}

.search-hotel-link {
  display: inline-block;
  padding: 8px 50px;

  font-size: 20px;
  text-transform: uppercase;
  line-height: 36px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;

  border-radius: 4px;
  border-style: none;
}

.search-hotel-text {
  margin: 0;
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
}

.search-hotel-description {
  margin: 0;
  margin-bottom: 54px;

  line-height: 26px;
  font-weight: 400;
  color: #333333;
  font-size: 22px;
}

/* Каталог */

.top-wrapper {
  padding: 35px 70px 70px;

  color: #FFFFFF;

  background-color: #6c7177;
  background-image: url(../images/pictures/filter-background.jpg);
  background-size: cover;
}

.filter-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
}

/* Хлебные крошки */

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 41px;
  padding: 0;

  background-image: url("../images/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 23px 5px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs-item .breadcrumbs-link {
  font-weight: 400;
  color: #FFFFFF;
}

/* Состояния хлебных крошек */

.breadcrumbs-link:hover {
  color: #FFFFFF99;
  cursor: pointer;
}

.breadcrumbs-link:hover path {
  fill: #FFFFFF99;
}

.breadcrumbs-link:focus-visible {
  outline: none;
}

.breadcrumbs-link:active {
  color: #FFFFFF4D;
}

.breadcrumbs-link:active path {
  fill: #FFFFFF4D;
}

/* Фильтры */

.catalog-filter-wrapper {
  display: flex;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  border: 0;
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  margin-right: 68px;
  margin-bottom: 3px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;

  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-title:nth-last-of-type(1){
  margin-right: 3px;
}

.catalog-filter-item {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  cursor: pointer;
}

.control-label {
  padding-left: 36px;
}

/* Чекбокс */

.control-mark {
  position: absolute;
  top: 1px;

  width: 20px;
  height: 20px;

  border: 0;
  border-radius: 4px;
  background-color: #FFFFFF;
}

/* Состояния чекбоксов */

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/icons/checked-checkbox.svg");
  background-repeat: no-repeat;
  background-position: 4px 6px;
}

.control-input:hover + .control-mark,
.control-label:hover {
  opacity: 0.6;
}

.control-input:focus-visible + .control-mark {
  outline: 3px #83B3D3 solid;
}

.control-input:active + .control-mark,
.control-label:active {
  opacity: 0.3;
}

.control-input:disabled + .control-mark,
.control-input:disabled + .control-mark + .control-label {
  opacity: 0.3;
  cursor: default;
}

/* Радио */

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

/* Состояния радио */

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;

  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: #3F5E72;
  content: "";
}

/* Рейндж */

.range-scale {
  position: relative;

  height: 4px;
  width: 287px;

  background-color: #FFFFFF49;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background-color: #FFFFFF;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

/* Состояния кнопок рейнджа */

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-toggle:disabled {
  opacity: 0.3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  left: 207px;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  margin-bottom: 44px;
  margin-right: 2px;
}

.range-input {
  width: 83px;
  height: 24px;
  padding: 12px 20px;
  padding-right: 40px;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;

  border: none;
  background-color: #F2F2F2;
}

/* Состояния инпутов рейнджа */

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus-visible {
  outline: 3px #83B3D3 solid;
  background-color: #E6E6E6;
}

.range-input:active {
  outline: 2px #000000 solid;
}

.range-input:disabled {
  opacity: 0.3;
}

.starting-point {
  position: absolute;
  right: 167px;
  top: 13px;

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  color:#00000058;

  pointer-events: none;
}

.ending-point {
  position: absolute;
  right: 22px;
  top: 13px;

  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  color:#00000058;

  pointer-events: none;
}

.range-wrapper-inputs {
  position: relative;
}

.min-range {
  border-radius: 4px 0 0 4px;
}

.max-range {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

/* Кнопки фильтра */

.catalog-filter-reset-button,
.catalog-filter-submit-button {
  padding: 8px 50px;

  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  white-space: nowrap;

  background-color: rgba(0, 0, 255, 0);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

/* Состояния кнопки "reset" */

.catalog-filter-reset-button:hover {
  opacity: 0.6;
}

.catalog-filter-reset-button:focus-visible {
  outline: 3px #83B3D3 solid;
  outline-offset: 0;
}

.catalog-filter-reset-button:active {
  color: #FFFFFF30;
}

.catalog-filter-reset-button:disabled {
  color: #FFFFFF10;
}

.catalog-filter-submit-button {
  margin-bottom: 32px;
  background: #82B3D3;
}

/* Сортировка */
 .sorting {
  display: flex;
  justify-content: space-between;
  padding: 50px 62px 21px 70px;

  line-height: 50px;
}

.sorting-settings {
  display: flex;
  gap: 30px;
}

.search-object {
  margin: 0;
  padding: 0;

  font-size: 30px;
  text-transform: uppercase;
}


/* Селект */

.select-control {
  width: 292px;
  height: 49px;
  padding-left: 18px;
  padding-right: 48px;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color:#333333;

  border: 2px #E5E5E5 solid;
  border-radius: 4px;
  background-image: url("../images/icons/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
}

/* Состояния селекта */

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus-visible {
  outline: 0;
  border-color: #68A2CA;
}

.select-control:active {
  border-color: #3F5E72;
}

.select-control:disabled {
  border-color: #000000;
  opacity: 0.3;
}

.type-of-catalog {
  display: flex;
  margin: 0;
}

.type-of-catalog-link-image {
  padding: 15px 14px 15px 14px;
  margin-right: 8px;

  border: 2px #E5E5E5 solid;
  border-radius: 4px;
}

.type-of-catalog-link-image:hover {
  border: 2px #000000 solid;
}

.type-of-catalog-link:focus-visible {
  outline: 0;
}

.type-of-catalog-link:focus-visible svg{
  border: 2px #68A2CA solid;
}

.type-of-catalog-link-image:active {
  border: 2px #000000 solid;
}

.type-of-catalog-link-image:last-child {
  margin-right: 0;
}

.type-of-catalog-link-image.active {
  border-color: #000000;
}

.filter-form-button {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

/* Карточки */

.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 20px;
  row-gap: 18px;
  padding-inline-start: 0;
  margin: 0;
  padding: 0 71px 39px 69px;
}

.product-card {
  width: 300px;
  padding: 20px;

  border: 1px #E6E6E6 solid;
  border-radius: 4px;
}

.product-card-link {
  text-decoration: none;
  color: black;
}

.product-card-title {
  margin-top: 11px;
  margin-bottom: 13px;
  font-size: 24px;
}

.product-card-wrapper-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

.product-card-wrapper-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-details-link {
  display: block;
  padding: 8px 26px;

  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;

  border-radius: 4px;
  border-style: none;
}

.product-card-button {
  padding: 8px 20px;

  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;

  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

/* Состояния кнопки "В избранном" */
.product-card-button.active {
  padding: 8px 18px;
  background-color: #7DB54F;
}

.product-card-button.active:hover {
  background-color: #6C9E42;
  cursor: pointer;
}

.product-card-button.active:focus-visible {
  outline: 0;
  background-color: #6C9E42;
}

.product-card-button.active:active {
  background-color: #7DB54F;
  color: #FFFFFF30;
}

.product-card-button.active:disabled {
  background-color: #E5E5E5;
}

.product-card-rating {
  padding: 9px 22px 8px 23px;

  font-weight: 400;
  font-size: 16px;
  color: #333333;
  white-space: nowrap;
  text-transform: uppercase;

  background-color: #F2F2F2;
  border-radius: 4px;
}

.product-card-wrapper-raiting {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 37px
}

.product-card-stars {
  min-width: 91px;
  height: 17px;

  font-size: 0;
  align-self: center;

  background-image: url("../images/icons/raiting-star.svg");
  background-size: 19px;
  background-repeat: space;
}

.product-card-stars.three-stars {
  min-width: 67px;
}

.product-card-stars.two-stars {
  min-width: 44px;
}

/* Пагинация */

.pagination {
  position: relative;
  left: 1px;

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 71px 60px 69px;
  gap: 8px;

  list-style-type: none;
}

.pagination::before {
  position: absolute;
  transform: translateY(-40px);
  width: 1060px;
  border-bottom: 1px #E6E6E6 solid;
  content: "";
}

.pagination-link {
  display: inline-block;
  width: 60px;

  font-size: 20px;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 60px;
  text-align: center;

  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68A2CA;
  outline: 1px #82B3D3 solid;
}

.pagination-link:focus-visible {
  background-color: #68A2CA;
  outline: 1px #82B3D3 solid;
  outline-offset: 0;
}

.pagination-link:active {
  color: #FFFFFF30;
}

.pagination-link.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link.pagination-current:hover {
  outline: 0;
  cursor: initial;
}

.pagination-link.pagination-current:focus-visible {
  outline: 0;
}

.pagination-link.pagination-current:active {
  outline: 0;
}

.pagination-link.pagination-light {
  color: #000000;
  background-color: #FFFFFF;
}

.pagination-link.pagination-light:hover {
  outline: 0;
  cursor: initial;
}

.pagination-link.pagination-light:focus-visible {
  outline: 0;
}

.pagination-link.pagination-light:active {
  outline: 0;
}

/* Подписка на рассылку Домашняя страница + Каталог*/

.subscribe {
  padding: 94px 258px 104px;

  color: #FFFFFF;

  background-color: #a1abab;
  background-image: url(../images/pictures/subscribe-background.jpg);
  background-size: cover;
}

.subscription {
  padding: 94px 258px 104px;
  text-align: center;
  background-size: 1200px;
}

.subscribe-text,
.subscription-text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  text-transform: uppercase;
}

.subscribe-description,
.subscription-description {
  margin: 0;
  margin-bottom: 54px;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscription-description {
  color: #333333;
}

.subscribe-form,
.subscribtion-form {
  display: flex;
}

.subscribe-input,
.subscription-input {
  width: 413px;
  height: 14px;
  padding: 19px;
  padding-left: 20px;

  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: #FFFFFF;
  background-color: #F2F2F2;
  border-style: none;
}

.subscribe-input:disabled,
.subscription-input:disabled{
  background-color: #e5e5e5e1;
}

.subscribe-button,
.subscription-button {
  padding: 8px 50px;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 36px;
  text-align: center;

  background: #82B3D3;
  border-style: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

/* Модальное окно */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-close {
  display: none;
}

.modal {
  position: relative;

  width: 577px;
  margin: auto;
  padding: 64px 70px;

  background-color: #FFFFFF;
  border: none;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;

  display: flex;
  padding: 0;
  width: 52px;
  height: 52px;

  border: none;
  border-radius: 50%;
  background-color: #F2F2F2;
}

.modal-close-icon {
  margin: auto;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
  cursor: pointer;
}

.modal-close-button:focus-visible {
  outline: 3px #83B3D3 solid;
}

.modal-close-button:active svg {
  opacity: 0.3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-title {
  padding: 0;
  margin: 0 0 64px 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.form-selection {
  padding: 0;
  margin: 0;
  border: none;
}

.date-selection-list,
.people-selection-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.date-selection-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.arival-date-title,
.departure-date-title,
.people-selection-title {
  margin-top: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.arival-date-input,
.departure-date-input {
  width: 362px;
  height: 24px;
  padding: 12px 58px 12px 20px;
  margin-bottom: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;

  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  background-image: url("../images/icons/date.svg");
  background-repeat: no-repeat;
  background-position: 400px center;
}

/* Состояния инпутов */
.arival-date-input:disabled,
.departure-date-input:disabled {
  opacity: 0.3;
}

.arival-date-wrapper,
.departure-date-wrapper {
  display: flex;
  flex-direction: column;
}

.description-input {
  display: inline-block;
  padding: 0 20px 0 20px;

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

.error {
  color: #FF5757;
}

.people-selection-list {
  display: flex;
  justify-content: space-between;
}

.people-selection-item {
  display: flex;
}

.people-selection-item:last-child {
  margin-bottom: 48px;
}


.people-selection-input {
  display: flex;
  justify-content: space-evenly;
  width: 110px;
  height: 48px;
  margin-left: 46px;

  border: none;
  border-radius: 4px;
  background-color: #F2F2F2;
}

/* Кнопка минус */

.button-minus {
  position: relative;

  width: 20px;
  height: 20px;
  align-self: center;

  border: none;
  border-radius: 4px;
}

.button-minus::before {
  position: absolute;
  bottom: 0;
  top: 3px;
  left: 10px;
  right: 0;
  transform: rotate(90deg);

  width: 2px;
  height: 14px;

  background-color: #7561574D;
  content: "";
}

.button-minus:hover:enabled {
  cursor: pointer;
}

.button-minus:hover:enabled::before {
  background-color: #000000;
}

.button-minus:focus-visible {
  outline: 3px #82B3D3 solid;
}

.button-minus:focus-visible::before {
  background-color: #000000;
}

.button-minus:active::before {
  background-color: #7561574D;
}

.button-minus:disabled::before {
  opacity: 0.3;
}

/* Кнопка плюс */

.button-plus {
  position: relative;

  width: 20px;
  height: 20px;
  align-self: center;

  border: none;
  border-radius: 4px;
}

.button-plus::before {
  position: absolute;
  bottom: 0;
  top: 3px;
  left: 9px;
  right: 0;
  transform: rotate(90deg);

  width: 2px;
  height: 14px;

  background-color: #7561574D;
  content: "";
}

.button-plus::after {
  position: absolute;
  bottom: 0;
  top: 3px;
  left: 9px;
  right: 0;

  width: 2px;
  height: 14px;

  background-color: #7561574D;
  content: "";
}

.button-plus:hover:enabled {
  cursor: pointer;
}

.button-plus:hover:enabled::before,
.button-plus:hover:enabled::after {
  background-color: #000000;
}

.button-plus:focus-visible {
  outline: 3px #82B3D3 solid;
}

.button-plus:focus-visible::before,
.button-plus:focus-visible::after {
  background-color: #000000;
}

.button-plus:active::before,
.button-plus:active::after {
  background-color: #7561574D;
}

.button-plus:disabled::before,
.button-plus:disabled::after {
  opacity: 0.3;
}

/* Инпут */

.people-amount {
  width: 31px;
  height: 46px;
  margin: 0;

  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;

  border: none;
  background-color: #F2F2F2;
}

.people-amount::-webkit-outer-spin-button,
.people-amount::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.people-amount:disabled {
  opacity: 0.3;
}

.modal-submit-button {
  width: 577px;
  padding: 17px 77px;

  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;

  background-color: #83B3D3;
  border: none;
  border-radius: 10px;
}

/* Тултип */

.people-selection-title-label {
  margin-top: 12px;
  margin-right: 38px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.tooltip {
  position: absolute;

  width: 86px;
  height: 26px;
  margin-left: 10px;
}

.tooltip-button {
  display: block;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;

  border: none;
  border-radius: 50%;
  background-color: #83B3D3;
}

.tooltip-button:hover {
  cursor: pointer;
}

.tooltip-button:hover + .tooltip-text {
  display: block;
}

.tooltip-button:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  position: absolute;
  left: 49%;
  transform: translateX(-61%);
  z-index: 1;

  display: none;
  width: 216px;
  padding: 20px 18px 23px 22px;

  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;

  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
}

.tooltip-text::after {
  position: absolute;
  bottom: 100%;
  transform: translateX(21px);

  width: 19px;
  height: 9px;

  background-image: url("../images/icons/tooltip-arrow.svg");
  content: "";
}
