@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans"),
   url(../fonts/ptsans-700.woff2);
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"),
   url(../fonts/ptsans-400.woff2);
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  background-color: #F2F2F2;
}

.content {
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-footer {
  flex-shrink: 0;
}

.main-page {
  flex-grow: 1;
}

.main-inner {
  flex-grow: 1;
  margin-top: -10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*style-header*/

.logo-link {
  z-index: 10;
  margin-right: 28px;
}

.button-want {
  background: #756157;
  border-radius: 4px;
  border-style: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 34px;
  color: #FFFFFF;
  text-decoration: none;
  white-space: nowrap;
  display: block;
}

.navigation-item {
  font-size: 20px;
  white-space: nowrap;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
  padding-left: 70px;
}

.main-menu{
  display: flex;
  width: 700px;
}

.navigation-link {
  text-decoration: none;
  color: black;
  padding: 20px 16px;
}

.navigation-favorites {
  text-decoration: none;
}

.content ul {
  list-style-type: none;
}

.navigation-list {
  display: flex;
  margin-top: 19px;
  padding: 0;
  flex-wrap: wrap;
}

.user-menu {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 0;
}

.user-menu-item {
  min-height: 25px;
  min-width: 25px;
}

.new-favorites {
  position: relative;
  bottom: 10px;
  left: 2px;
  font-weight: 400;
  font-size: 10px;
  background-color: #7DB54F;
  color: #FFFFFF;
  padding: 4px 5px 3px 4px;
  border-radius: 50%;
}

/* svg в правом контейнере */

.heart {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-searh {
  position: relative;
  padding: 18px 24px 24px 20px;
}

.navigation-favorites {
  position: relative;
  padding: 18px 5px 24px 18px;
  margin-right: 21px;
}

/*style-footer*/

.page-footer {
  padding: 40px 69px 30px 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social {
  max-width: 150px;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
}

.social-link {
  display: inline-block;
}

.vk {
  background-image: url("../images/pictures/messenger/vk.svg");
  width: 24px;
  height: 15px;
}

.telegram {
  background-image: url("../images/pictures/messenger/telegram.svg");
  width: 18px;
  height: 16px;
}

.youtube {
  background-image: url("../images/pictures/messenger/youtube.svg");
  width: 22px;
  height: 17px;
}

.contact-phone {
  font-weight: 400;
  font-size: 40px;
  text-decoration: none;
  color: #000000;
  position: relative;
  left: 8px;
  bottom: 1px;
}

.copyright {
  position: relative;
  top: 1px;
}

/*style-index*/

.welcome {
  background: url("../images/welcome/vector-foot.svg") bottom no-repeat, url("../images/pictures/index-background.jpg");
  background-color: #9db2cd;
  width: 100%;
  height: 485px;
  margin-top: -10px;
}

.welcome-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 51px;
}

.main-page {
  text-align: center;
}

/* Хедлайн */

.main-headline {
  padding: 69px 20px 89px 20px;
}

.main-headline-title {
  line-height: 36px;
  margin: 0 0 24px 0;
  min-height: 72px;
  font-size: 30px;
  text-transform: uppercase;
}

.main-headline-description {
  font-weight: 400;
  font-size: 22px;
  color: #333333;
  margin: 0;
}

/* Основной список */

.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-list-item {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-list-inner {
  color: #FFFFFF;
  background-color: #82B3D3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 92px 85px 111px;
}

.advantages-list-image-wrapper {
  grid-column: span 2;
  font-size: 0;
}

.advantages-list-title {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-size: 24px;
  width: 175px;
  min-height: 56px;
  text-transform: uppercase;
  line-height: 28px;
}

.advantages-list-description {
  font-weight: 400;
  font-size: 18px;
  width: 230px;
  min-height: 63px;
  margin: 0;
  padding: 0;
  line-height: 21px;
}

/* Внутренний список (2 строка) */

.nested-list-advantages {
  display: flex;
  width: 1200px;
  min-height: 384px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.nested-list-advantages-item {
  width: 230px;
  background-color: #83B3D31F;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 104px 85px 101px;
}

.nested-list-advantages-title {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-size: 24px;
  width: 175px;
  text-transform: uppercase;
  line-height: 28px;
}

.nested-list-advantages-description {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  width: 230px;
  margin: 0;
  padding: 0;
  line-height: 21px;
}

.nested-list-advantages-item:nth-child(2) {
  background-color: #83B3D333;
}

/* Екстра-внутренний список (4 строка) */

.advantages-list-extra {
  display: flex;
  width: 1200px;
  padding: 0;
}

.advantages-list-extra-item {
  width: 230px;
  min-height: 223px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 80px 85px 81px;
}

.advantages-list-extra-item-titile {
  width: 230px;
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 28px;
}

.advantages-list-extra-item-description {
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #333333;
  font-size: 18px;
  width: 230px;
  line-height: 21px;
}

.image-1 {
  background-color: #83B3D31F;
  background-image: url("../images/card/icons/house.svg");
  background-repeat: no-repeat;
  background-position: 163px 80px;
}

.image-2 {
  background-color: #FFFFFF;
  background-image: url("../images/card/icons/food.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
}

.image-3 {
  background-color: #83B3D31F;
  background-image: url("../images/card/icons/box.svg");
  background-repeat: no-repeat;
  background-position: 168px 78px;
}

/* Стайл на линии, Которые попросили удалить, но по моему, они могут понадобиться.
.hr-white {
  height: 2px;
  width: 60px;
  background-color: #FFFFFF4D;
  border-style: none;
  margin-bottom: 30px;
  margin-top: 0;
}

.hr-black {
  height: 2px;
  width: 60px;
  background-color: #0000004D;
  border-style: none;
  margin-bottom: 30px;
  margin-top: 0;
}
*/

/* Поиск Гостиницы. */

.search-hotel {
  padding: 100px 304px 96px;
}

.search-hotel-link {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 36px;
  padding: 8px 50px;
  display: inline-block;
  background: #756157;
  border-radius: 4px;
  border-style: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}

.search-hotel-text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
}

.search-hotel-description {
  margin: 0;
  margin-bottom: 54px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  font-size: 22px;
}

/*style-catalog*/
/* Значние height в top-wrapper временно задано для удобства. При стилизации формы его нужно будет удалить. */

.top-wrapper {
  background-image: url(../images/pictures/filter-background.jpg);
  background-color: #6c7177;
  background-size: 100% 100%;
  color: #FFFFFF;
  padding: 35px 70px 70px;
  height: 307px;
}

.filter-title {
  font-size: 60px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  background-image: url("../images/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 23px 5px;
}

.breadcrumbs-item:first-child {
  margin-right: 29px;
}

.breadcrumbs-item .breadcrumbs-link {
  color: #FFFFFF;
  font-weight: 400;
}

/* Фильтры */

.catalog-filter-wrapper {
  display: flex;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group:not(:nth-child(2)) {
  margin-right: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

/* Кнопки фильтра */

.catalog-filter-reset-button,
.catalog-filter-submit-button {
  background-color: rgba(0, 0, 255, 0);
  border-radius: 4px;
  border-style: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 50px;
  color: #FFFFFF;
  white-space: nowrap;
  cursor: pointer;
}

.catalog-filter-submit-button {
  background: #82B3D3;
  margin-bottom: 32px;
}

/* Сортировка */
 .sorting {
  display: flex;
  justify-content: space-between;
  padding: 50px 62px 21px 70px;
  line-height: 50px;
}

.sorting-settings {
  display: flex;
  gap: 30px;
}

.search-object {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.select-control {
  width: 292px;
  height: 49px;
  border: 2px #E5E5E5 solid;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color:#333333;
  padding-left: 15px;
}

.type-of-catalog {
  margin: 0;
  display: flex;

}

.type-of-catalog-link-image {
  padding: 15px 14px 15px 14px;
  border: 2px #E5E5E5 solid;
  border-radius: 4px;
  margin-right: 8px;
}

.type-of-catalog-link-image:last-child {
  margin-right: 0;
}

.type-of-catalog-link-image.active {
  border-color: #000000;
}

.filter-form-button {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

/* Карточки */

.catalog {
  padding: 0 70px 60px 69px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 20px;
  row-gap: 18px;
  padding-inline-start: 0;
  margin: 0;
  margin-bottom: 39px;
  padding-bottom: 39px;
  border-bottom: 1px #E6E6E6 solid;
}

.product-card {
  width: 300px;
  border: 1px #E6E6E6 solid;
  border-radius: 4px;
  padding: 20px;
}

.product-card-link {
  text-decoration: none;
  color: black;
}

.product-card-title {
  font-size: 24px;
  margin-top: 11px;
  margin-bottom: 13px;
}

.product-card-wrapper-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

.product-card-wrapper-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-details-link {
  padding: 8px 26px;
  background: #756157;
  border-radius: 4px;
  border-style: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}

.product-card-button {
  background: #82B3D3;
  border-radius: 4px;
  border-style: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 20px;
  color: #FFFFFF;
  cursor: pointer;
}

.product-card-button.active {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.product-card-rating {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  white-space: nowrap;
  text-transform: uppercase;
}

.product-card-wrapper-raiting {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 37px
}

.product-card-stars {
  min-width: 91px;
  height: 17px;
  background-image: url("/images/icons/raiting-star.svg");
  background-size: 19px;
  background-repeat: space;
  font-size: 0;
  align-self: center;
}

.product-card-stars.three-stars {
  min-width: 67px;
}

.product-card-stars.two-stars {
  min-width: 44px;
}

/* Пагинация */

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
  position: relative;
  left: 1px;
}

.pagination-link {
  font-size: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  width: 60px;
  line-height: 60px;
  text-align: center;
}

.pagination-link.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link.pagination-light {
  color: #000000;
  background-color: #FFFFFF;
}

/* Подписка на рассылку index + catalog*/

.subscribe {
  padding: 94px 258px 104px;
  background-image: url(../images/pictures/subscribe-background.jpg);
  background-color: #a1abab;
  background-size: 1200px;
  color: #FFFFFF;
}

.subscription{
  text-align: center;
  background-size: 1200px;
  padding: 94px 258px 104px;
}

.subscribe-text,
.subscription-text {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-description,
.subscription-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.subscription-description {
  color: #333333;
}

.subscribe-form,
.subscribtion-form {
  display: flex;
}

.subscribe-input,
.subscription-input {
  width: 413px;
  height: 14px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 19px;
  padding-left: 20px;
  outline: #FFFFFF;
  background-color: #F2F2F2;
  border-style: none;
}

.subscribe-button,
.subscription-button {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  text-align: center;
  line-height: 36px;
  padding: 8px 50px;
  border-style: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
